.width-100p {
  width: 100%;
}

.width-96p {
  width: 96%;
}

.width-90p {
  width: 90% !important;
}

.width-80p {
  width: 80% !important;
}

.width-75p {
  width: 75% !important;
}

.width-70p {
  width: 70% !important;
}

.width-68p {
  width: 68% !important;
}

.width-50p {
  width: 50% !important;
}

.width-43p {
  width: 43% !important;
}

.width-40p {
  width: 40% !important;
}

.width-31p {
  width: 31% !important;
}
.width-30p {
  width: 30% !important;
}

.width-25p {
   width: 25% !important;
 }

.width-20p {
  width: 20% !important;
}

.width-175p {
  width: 17.5% !important;
}

.width-15p {
  width: 15% !important;
}

.width-12p {
  width: 12% !important;
}

.width-10p {
  width: 10% !important;
}

.width-8p {
  width: 8% !important;
}

.width-5p {
  width: 5% !important;
}

.width-4p {
  width: 4% !important;
}

.width-3p {
  width: 3% !important;
}

.width-2p {
  width: 2% !important;
}
.width-1p {
  width: 1px !important;
}
